@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Raleway:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0C0C0C;
}
.bg-wp {
    background-image: url('/images/bg-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}